.App {
  text-align: center;
}

.loginForm {
  text-align: center;
  margin-top: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
}

.searchbox {
  margin-right: 500px;
}

.pop-over {
  display: flex;
  justify-content: center;
}

.popoverForm {
  width: 50vmin;
  height: 30vmin;

}

.taskFormStyle {
  margin: 50px 50px 0px 50px;
  display: flex;
justify-content: center;
flex-direction: column;
}

.inputStyle {
  height: 100px;
}

.submitTask {
  margin: 5px 50px 5px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.markComplete {
  margin: 0px 50px 0px 50px;
  display: flex;
justify-content: center;
flex-direction: column;
}


.todoList {
  display: flex;
  justify-content: space-around;
}

